.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* padding: 4rem 8%; */
  min-height: 90vh;
  background: #ffff;
  border:2px solid var(--custom-orange);
  border-radius:50px;
  box-sizing: border-box;
}

.text-content {
  max-width: 50%;
  align-self: flex-end;
  margin-left: 2rem;
}

.text-content h1 {
  font-size: 4rem;
  font-weight: 1000;
  color: var(--custom-orange);
  margin-bottom: 0.5rem;
}

.text-content p {
  font-size: 1.2rem;
  color: #676767;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

/* Responsive layout */
@media (max-width: 900px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .text-content {
    max-width: 100%;
    align-self: center;
  }

  .text-content h1 {
    font-size: 2.2rem;
  }

  .text-content p {
    font-size: 1rem;
  }

  .image-container img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 2rem;
  }
}
