* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbfaf6;
  color: #111;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
.sections {
  padding: 1rem;
}
